:root {
  --main-color: #1d2b37;
  --alternative-color-1: #e87140;
  --alternative-color-2: #ffffff;
  --alternative-color-3: #232127;
  --alternative-color-4: #232127b2;
  --title-font: "Lato", "sans-serif";
  --text-font: "Raleway", "sans-serif";
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: var(--title-font);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.webgl {
  display: none;
}

/* Loading screen section*/
.o-landing {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--alternative-color-2);
}
.o-loadingContainer,
.o-loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: var(--title-font);
  color: var(--alternative-color-3);
}
.o-loader {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 0.5rem solid #f5f5f5;
  border-top: 0.5rem solid var(--alternative-color-1);
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: spin 2s linear infinite;
}
.o-enterButton {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: none;
  color: var(--alternative-color-2);
  background-color: var(--main-color);
  cursor: pointer;
  margin: 1rem;
  font-family: var(--title-font);
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  transition: 0.3s;
}
.o-enterButton:disabled {
  background: #c4c4c4;
  cursor: no-drop;
}
.o-enterButton:hover {
  background-color: var(--alternative-color-1);
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.o-secondaryButton {
  margin: 1rem 0 0 0;
  width: 10rem;
  font-family: var(--title-font);
  font-weight: bold;
  font-size: 1.125rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 4rem;
  color: var(--alternative-color-1);
  background-color: var(--alternative-color-2);
  border: 2px solid var(--alternative-color-1);
  cursor: pointer;
  transition: 0.3s;
}
.o-secondaryButton:hover {
  background-color: #e87140;
  color: #ffffff;
}
/* Loading screen section end*/

/* Header section */
.o-header {
  display: flex;
  position: fixed;
  color: var(--alternative-color-2);
  top: 0;
  width: 100%;
  z-index: 2;
  height: 3rem;
  margin: 0;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  transition: 1000ms;
}
.o-header:hover {
  background-color: var(--alternative-color-4);
}
.o-header h2 {
  margin-left: 0.625rem;
}
.o-optionsBtns {
  display: flex;
  margin: 0 0.625rem 0 0; 
}
.o-sound {
  display: flex;
  align-items: center;
}
.o-volumeSlider {
  display: none;
  -webkit-appearance: none;
  width: 6rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgba(219, 219, 219, 0.658);
  transition: 1000ms;
}
.o-volumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--alternative-color-1);
  cursor: pointer;
}
/* Header section end */

/* Controls information */
.o-controlsInfo {
  display: none;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--alternative-color-4);
  color: var(--alternative-color-2);
  border-radius: 0.25rem;
  padding: 1rem;
  width: 45rem;
  height: 10rem;
  font-family: var(--text-font);
  position: absolute;
  bottom: 10%;
  z-index: 1;
  animation: showControls 5s ease-in-out;
}
.o-controlsInfo p {
  margin: 0 0.5rem;
}
.o-keysInfo {
  border-right: 1px solid var(--alternative-color-2);
  padding: 0 0.5rem 0 0;
}
.o-keyOptions,
.o-keys {
  display: flex;
}
.o-keyOptions {
  justify-content: space-between;
  margin: 1rem 0 0 0;
}
.o-key {
  min-width: 2.5rem;
  height: 2.5rem;
  border: 2px solid var(--alternative-color-2);
  border-radius: 0.25rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0.25rem;
  font-size: 1.2rem;
}
.o-keys {
  align-items: flex-end;
}
@keyframes showControls {
  0% {opacity: 0;}
  25% {opacity: 1;}
  75% {opacity: 1;}
  100% {opacity: 0;}
}
.o-mouseMove {
  margin: 1rem 0 0 0;
  padding: 1rem 1rem 0 1rem;
  display: flex;
  justify-content: center;
}
.o-mouseIcon {
  animation: move 1.5s infinite alternate ease-in-out;
  position: relative;
}
@keyframes move {
  0% {left: -2rem;}
  100% {left: 2rem;}
}
.o-instruction{
  display: none;
  align-items: center;
  justify-content: center;
  background-color: var(--alternative-color-4);
  color: var(--alternative-color-2);
  border-radius: 0.25rem;
  padding: 1rem;
  width: 15rem;
  height: 2rem;
  font-family: var(--text-font);
  position: absolute;
  bottom: 10%;
  z-index: 1;
  animation: showControls 5s ease-in-out;
}
/* Controls information end */

/* Lab information cards */
.o-container {
  display: none;
  position: absolute;
  z-index: 1;
  bottom: 15%;
}
@keyframes show {
  0% {
    transform: translateY(100%);
    opacity: 0.5;
  }
  50% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.o-information {
  width: 30rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--alternative-color-2);
  color: var(--alternative-color-3);
  border-radius: 0.5rem;
  animation: show 3s;
}
div h3 {
  margin: 0.25rem 0 0.25rem 0;
}
.o-information p {
  font-family: var(--text-font);
  max-height: 15rem;
  overflow: auto;
}
.o-information p::-webkit-scrollbar{
  width: 0.5rem;
}
.o-information p::-webkit-scrollbar-track {
  background: #F1F1F1; 
}
.o-information p::-webkit-scrollbar-thumb {
  background-color: #C2C2C2;
  border-radius: 0.5rem;
}
.o-information p::-webkit-scrollbar-thumb:hover {
  background-color: var(--alternative-color-3); 
}
.o-desitionButtons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.o-principal {
  margin: 1rem 0 0 0;
  width: 10rem;
  font-family: var(--title-font);
  font-weight: bold;
  font-size: 1.125rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 4rem;
  border: none;
  color: var(--alternative-color-2);
  background-color: var(--main-color);
  cursor: pointer;
  align-self: center;
  transition: 100ms;
}
.o-principal:hover {
  background-color: var(--alternative-color-1);
}
.o-principal:disabled {
  background: #c4c4c4;
  cursor: no-drop;
}
.o-modal {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.644);
  animation: modalAnimation 0.5s 1 ease;
}
@keyframes modalAnimation {
  0% {
    transform: translateY(100%);
  }
}
.o-modalContent {
  position: relative;
  top: 15%;
  padding: 1.25rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.o-videoContainer {
  position: relative;
  width: 50rem;
  top: 50%;
}
.o-vvcontrols {
  display: flex;
  width: 100%;
  background-color: var(--alternative-color-4);
  position: absolute;
  bottom: 0.2rem;
  padding: 0.25rem 0;
  transition: 1s;
  opacity: 0;
}
.o-videoContainer:hover .o-vvcontrols {
  opacity: 1;
  transition: 1s;
}
.o-close, .o-crcButton {
  margin: 0 0 0 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--alternative-color-2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--alternative-color-1);
  transition: 100ms;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.o-close:hover,.o-crcButton:hover {
  color: var(--alternative-color-2);
  background-color: var(--alternative-color-1);
  transform: scale(1.2);
  cursor: pointer;
}
.o-close {
  display: none;
}
.o-npcName {
  display: flex;
  justify-content: space-between;
}
/* Lab informaton cards end */
